
main{
    height: 400px;

}


.nav-link{
    color: white;
    font-size: 20px;
}
nav{
    background-image: url("../imgs/nav_guest_background.jpg");

}
.meniu{
    height: 550px;
}
.ekranas
{
    border: 25px solid;
    border-image-source: linear-gradient(45deg, rgb(29, 143, 134), rgb(250,224,66));
    border-image-slice: 1;
}
.foto_pvz {
    height: 400px;
    width: auto;
}
footer  {
    background-color: darkslateblue;
    color: white;
    margin-top: 500px;

}
.login{

    padding-left: 42%;
    padding-right: 42%;
}
.register{
     padding-left: 42%;
     padding-right: 42%;

 }
.mainPageCarousel {
    background: black;

    height: 70vh;
    min-height:500px;
}


#mainPageCarousel .carousel-inner,
#mainPageCarousel .carousel-item,
#mainPageCarousel .carousel-item img {


    height: 100%;
}
#mainPageCarousel .carousel-item img{

    height: 50%;

    object-fit: cover;
    opacity: 0.6;
    /* permatomos foto */
}

#mainPageCarousel span[class=carousel-control] {


    background:none;
    font-size: 1,5em;

}

#mainPageCarousel .carousel-caption {


    text-align: left;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    border-left: 2px solid #00b1f5;
    padding-left: 2em;

}

/* teksto formatavimas */


#mainPageCarousel .carousel-caption h4 {
    color: red;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;

}

#mainPageCarousel .carousel-caption a {

    color: rgb(97, 46, 46);

    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;

}

.about {
    text-align: center;
    font-size: 30px;
}
.about h3 {

}